In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)
tqdm.tqdm.pandas()
%matplotlib inline

In [2]:
df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [3]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [4]:
df["answered_correctly"] = df["answered_correctly"].replace(-1, np.nan)

In [5]:
def f(series):
    return series.shift(1).cumsum().fillna(0) / np.arange(len(series))

In [6]:
df["target_enc_content_id"] = df.groupby("content_id")["answered_correctly"].transform(f)

In [7]:
df["target_enc_user_id"] = df.groupby("user_id")["answered_correctly"].transform(f)

In [8]:
import pickle

In [9]:
with open("../feature_engineering/content_user_rate_dict.pickle", "rb") as f:
    data_dict = pickle.load(f)

In [12]:
pd.DataFrame({"content_id": data_dict})

       content_id
0            1193
1            1193
2            1527
3            1308
4            1350
...           ...
13518        1361
13519        1479
13520        1413
13521        1414
13522        1177

[13523 rows x 1 columns]

In [16]:
df_rate = pd.Series(data_dict).reset_index()
df_rate.columns = ["content_id", "rate"]

In [23]:
df_m = pd.merge(df[["user_id", "content_id", "answered_correctly"]], df_rate, how="left")

In [22]:
df_m.groupby("user_id").first()

            content_id    rate
user_id
24600             7900  1205.0
108310            3734  1452.0
138650            7900  1205.0
301590            3931  1200.0
341420            4159  1196.0
...                ...     ...
2147056350        5141  1212.0
2147160110        4909  1380.0
2147375580        7900  1205.0
2147470770        7900  1205.0
2147481750        4137  1463.0

[39291 rows x 2 columns]

In [25]:
df_m[df_m["user_id"] == 24600]

    user_id  content_id  answered_correctly    rate
0     24600        7900                 1.0  1205.0
1     24600        7876                 0.0  1560.0
2     24600         175                 1.0  1623.0
3     24600        1278                 1.0  1304.0
4     24600        2064                 0.0  1396.0
5     24600        2065                 1.0  1328.0
6     24600        2063                 0.0  1785.0
7     24600        3364                 0.0  1510.0
8     24600        3365                 0.0  1600.0
9     24600        3363                 0.0  1598.0
10    24600        2947                 0.0  1681.0
11    24600        2946                 0.0  1709.0
12    24600        2948                 0.0  1735.0
13    24600        2595                 0.0  1504.0
14    24600        2594                 0.0  1635.0
15    24600        2593                 0.0  1364.0
16    24600        4492                 0.0  1595.0
17    24600        4120                 0.0  1618.0
18    24600        4696                 1.0  1466.0
19    24600        6116                 0.0  1700.0
20    24600        6173                 0.0  1707.0
21    24600        6370                 0.0  1655.0
22    24600        6880                 0.0  1711.0
23    24600        6877                 0.0  1531.0
24    24600        6878                 0.0  1415.0
25    24600        6879                 0.0  1611.0
26    24600        7217                 1.0  1462.0
27    24600        7219                 0.0  1625.0
28    24600        7218                 0.0  1274.0
29    24600        7216                 0.0  1504.0
30    24600        4476                 1.0  1471.0
31    24600        4981                 1.0  1219.0
32    24600        6172                 1.0  1149.0
33    24600        9887                 0.0  1310.0
34    24600        5028                 1.0  1217.0
35    24600        4716                 1.0  1207.0
36    24600        3719                 0.0  1472.0
37    24600        9821                 0.0  1675.0
38    24600        4473                 0.0  1234.0
39    24600        4108                 0.0  1506.0
40    24600         646                 1.0  1317.0
41    24600        1067                 1.0  1221.0
42    24600         940                 0.0  1155.0
43    24600       10685                 1.0  1294.0
44    24600         817                 1.0  1268.0
45    24600        1262                 0.0  1373.0
46    24600        1348                 1.0  1247.0
47    24600       10686                 0.0  1416.0
48    24600         754                 0.0  1429.0
49    24600         801                 1.0  1180.0

In [24]:
df_m[df_m["user_id"] == 108310]

    user_id  content_id  answered_correctly    rate
50   108310        3734                 0.0  1452.0
51   108310        4276                 1.0  1404.0
52   108310        3654                 1.0  1432.0
53   108310        4026                 0.0  1580.0
54   108310        6435                 0.0  1826.0
55   108310        6659                 0.0  1606.0
56   108310        4554                 1.0  1328.0
57   108310        4476                 1.0  1471.0
58   108310        6325                 1.0  1405.0
59   108310        5001                 1.0  1333.0
60   108310        9446                 1.0  1254.0
61   108310        4491                 1.0  1470.0
62   108310        5708                 0.0  1625.0
63   108310        4467                 1.0  1512.0
64   108310        9626                 1.0  1580.0
65   108310        3639                 1.0  1460.0
66   108310        5616                 0.0  1610.0
67   108310        7975                 0.0  1124.0
68   108310        7967                 1.0  1223.0
69   108310        7905                 0.0  1352.0
70   108310       10482                 1.0  1202.0
71   108310        7957                 1.0  1158.0
72   108310        7981                 0.0  1480.0
73   108310          76                 1.0  1373.0
74   108310       10551                 1.0  1255.0
75   108310         163                 1.0  1124.0
76   108310        7901                 1.0  1226.0
77   108310        7887                 1.0  1136.0
78   108310         689                 1.0  1429.0
79   108310         436                 1.0  1216.0
80   108310        1192                 1.0  1374.0
81   108310       10686                 1.0  1416.0
82   108310         703                 1.0  1260.0
83   108310        6770                 1.0  1457.0
84   108310        6769                 1.0  1278.0
85   108310        6771                 1.0  1261.0
86   108310        6772                 1.0  1488.0